<p style="font-size:1.4em">Location
  {{location.id}}
  <a href="" ng-click="deleteLocation($index)"><i class="fa fa-trash-o"></i></a>
</p>

<div class="form-group">
  <label>Country</label>
  <input ng-model="location.country" type="text" name="country" placeholder="Country" class="form-control">
</div>
<div class="form-group">
  <label>State/Province/Region</label>
  <input ng-model="location.province" type="text" name="province" placeholder="Province" class="form-control">
</div>
<div class="form-group">
  <label>City</label>
  <input ng-model="location.city" type="text" name="city" placeholder="City" class="form-control">
</div>
<div class="form-group">
  <label>Address</label>
  <textarea ng-model="location.address" type="text" name="address" placeholder="Address" class="form-control"></textarea>
</div>
<div class="form-group">
  <label>Telephone</label>
  <input ng-model="location.phone" type="tel" name="phone" placeholder="Phone" class="form-control">
</div>
<div class="form-group">
  <label>Email</label>
  <input ng-model="location.email" type="email" name="email" placeholder="Email" class="form-control">
</div>
<div class="form-group">
  <label>Website Link</label>
  <input ng-model="location.url" type="url" name="url" placeholder="Website link" class="form-control">
</div>

