<nav class="navbar navbar-default navbar-fixed-top fadein" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/#!/">
      <img src="/images/treat-street-logo.png" alt="TreatStreet.co" style="height:40px;">
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <!-- Order Receipt Search -->
    <div ng-controller="OrderReceiptFinderController" class="navbar-form navbar-left">
      <form ng-submit="findOrderReceipt(code)"  role="search">
        <div class="form-group">
          <input ng-model="code" required pattern=".{7,}" type="text" class="form-control" placeholder=" Gift ID..." size="7">
        </div>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search fa-lg"></i>
        </button>
      </form>
    </div>

    <!-- right side -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/#!/venues"><i class="fa fa-cutlery"></i> Restaurants</a>
      </li>
      <li>
        <a href="/#!/admin"><i class="fa fa-gears"></i> Restaurant Manager</a>
      </li>
      <li><a href="/#!/about"><i class="fa fa-leaf"></i> About</a></li>
      <li><a href="mailto:info@treatstreet.co"><i class="fa fa-envelope"></i> Contact</a></li>
      <!-- hack, otherwise menu flushes left ?!? -->
      <li><a></a></li>
    </ul>
  </div>
</nav>

<!-- NAVBAR FIX -->
<style type="text/css" media="screen">
  body {
    margin-top:70px;
  }
</style>
