<table class="table table-striped table-hover table-condensed table-responsive fadein">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Role/Title</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>
        <a href="/#!/users/{{user._id}}/edit" title="{{user._id}}">
          {{user.email}}
        </a>
      </td>
      <td>{{user.fullName}}</td>
      <td>{{user.role}}</td>
      <td>{{user.createdAt | date}}</td>
      <td>
        <a href="" ng-click="deleteUser($index)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
      </td>
    </tr>
  </tbody>
</table>
